body {
  background: darkslategrey !important;
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 600px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col {
  width: 48%;
}
select,
input,
button {
  width: 100%;
  margin-bottom: 15px !important;
  font-size: 25px;
  padding: 8px 10px;
  font-weight: 800;
}
button:hover {
  background: #000;
  color: #fff;
}
